<div class="card-form xl">
  <div class="card">
    <div class="card-body">
      <h5><%= title %></h5> 
      <hr>
      <%= simple_form_for [@course, @student] do |f| %>
          <div class="form-group">
            <%= f.input :name, required: true %>
          </div>
          <div class="form-group">
            <%= f.input :surname, required: true %>
          </div>
          <div class="form-group">
            <%= f.input :s_number, required: true %>
          </div>
          <div class="form-group">
            <%= f.input :email, required: true %>
          </div>
          <br>
          <div class="form-actions text-right">
            <%= link_to t(:cancel), course_students_path, class: "btn btn-default" %>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>