<%= render partial: 'layouts/modal', locals: { del_msg: :delete_examination_msg, title: :destroy_examination, route_path: course_examination_path(@course , 0) } %>

<div class="card card-table">
  <div class="container card-body">
    <%= link_to course_examinations_path(@course), class: "btn btn-default float-right", :title => (t(:back)) do %>
      <%= fa_icon "reply" %>
    <% end %>
    <h1><%= (t :scores).capitalize %></h1>
    <h5><%= @examination.title%></h5>
    <hr>
    <div class="card-btns">
      <%= link_to t(:edit), course_examination_scores_edit_path(@course, @examination), class: "btn btn-primary float-right btn-sm" %> 
    </div>
    <div class="table-responsive">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th><%= t :student %></th>
            <th><%= t :s_number %></th>
            <th><%= t :score %></th>
            <th><%= t :status %></th>
          </tr>
        </thead>
        </tbody>
          <% @scores.each do |score| %>
            <tr>
              <td><%= score.student.full_name %></td>
              <td><%= score.student.s_number %></td>
              <td><%= score.score %>%</td>
              <td><%= t score.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="float-right">
      <%= paginate @scores %>
    </div>
    <br>
  </div>
</div>  


