<div class="container">

  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :username, required: true, autofocus: true, input_html: { class: 'form-control' }%>
      </div>
      <div class="form-group">
        <%= f.input :password, required: true, input_html: { class: 'form-control' } %>
      </div> 
        <div class="">
            <div class="form-check">
            <%= f.input :remember_me, input_html: { class: 'form-check-input' },  as: :boolean if devise_mapping.rememberable? %>
          </div>
          <%= f.button :submit, "Log in", class: "btn btn-primary" %>
        </div>
    </div>
  <% end %>
  
</div>

