<table class="table table-striped text-center table-responsive table-courses table-hover">
    <thead>
        <tr>
            <th><%= t :student %></th>
            <th><%= t :s_number %></th>
            <th><%= t :examination_title %></th>
            <th><%= t :date_examination %></th>
            <th><%= t :min_score %></th>
            <th><%= t :score %></th>
            <th><%= t :status %></th>
        </tr>
    </thead>
    <tbody>
        <% @examinations.each do |exam| %>
            <% @students.each do |student| %>
                <% score = student.score_for_exam(exam) %>
                <tr>
                <td><%= student.name %> <%= student.surname %></td>
                <td><%= student.s_number %></td>
                <td><%= exam.title %></td>           
                <td><%= exam.date.strftime("%d/%m/%y") %></td>
                <td><%= exam.min_score%></td>
                <% if score.present? %>
                    <td><%= score.score %>%</td>
                    <% if score.passed? %>
                        <td class="table-success">
                            <span>Aprobó</span>
                        </td>
                    <% else %>
                        <td class="table-danger">
                            <span>Desaprobó</span>
                        </td>
                    <% end %>
                    </td>
                <% else %>
                    <td>-</td>
                    <td class= "table-primary"><span  > Ausente </span></td>
                <% end %> 
                </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>