<div class="table-responsive">
    <table align="center" class="table text-center table-bordered">
        <thead>
            <tr>
                <th colspan="2"><%= t :student %></th>
                <% @examinations.each do |exam| %>
                    <th colspan = 2> 
                        <%= exam.title %> 
                        <br>
                        <small>
                            <%= exam.date.strftime("%d/%m/%y") %> 
                        </small>
                    </th>
                <% end %>
            </tr>
            <tr>
                <th><%= t :name %></th>
                <th><%= t :s_number %></th>
                <% @examinations.each do %>
                    <th>Nota</th>
                    <th>Estado</th>
                <% end %>
            </tr>
        </thead>
        <tbody class="table-hover">
            <% @students.each do |student| %>
                <tr>
                <td><%= student.name %> <%= student.surname %></td>
                <td><%= student.s_number %></td>
                <% @examinations.each do |exam| %>
                    <% score = student.score_for_exam(exam) %>
                    <% if score.score.present? %>
                        <td><%= score.score %>%</td>
                        <td>
                            <% if score.passed? %>
                                    <span class="text-success">Aprobó</span>
                            <% else %>
                                    <span class="text-danger">Desaprobó</span>
                            <% end %>
                        </td>
                    <% else %>
                        <td>-</td>
                        <td><span class="text-warning"> Ausente </span></td>
                    <% end %> 
                <% end %>
                </tr>
            <% end %>
        </tbody>
        <tfoot class="table-secondary">
            <tr>
            <td colspan="2">Cantidad Aprobados</td>
            <% @examinations.each do |exam| %>
                <td colspan="2"><%= exam.passing_students %></td>
            <% end %>
            </tr>
            <tr>
            <td colspan="2">Cantidad Desaprobados</td>
            <% @examinations.each do |exam| %>
                <td colspan="2"><%= exam.failed_students %></td>
            <% end %>
            </tr>
            <tr>
            <td colspan="2">Cantidad Ausentes</td>
            <% @examinations.each do |exam| %>
                <td colspan="2"><%= exam.absent_students %></td>
            <% end %>
            </tr>
            <tr>
            <td colspan="2">Porcentaje Aprobación</td>
            <% @examinations.each do |exam| %>
                <td colspan="2"><%= exam.passing_percentage.round(2) %>%</td>
            <% end %>
            </tr>
        </tfoot>
    </table>
</div>