<div class="card-form">
  <div class="card">
    <div class="card-body">
      <h5><%= title %></h5> 
      <hr>
      <%= simple_form_for(@course) do |f| %>
          <div class="form-group">
            <%= f.input :year,  input_html: { class: 'custom-select' }, collection: @course.time_range.reverse, :include_blank => t(:select_year)%>
          </div>
          <br>
          <div class="form-actions text-right">
            <%= link_to t(:cancel), courses_path, class: "btn btn-default" %>
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</div>