<%= render 'modal', course: "d" %>

<h1>Courses</h1>
  <div class = "card">
    <div class="container">
      <%= link_to 'New Course', new_course_path, class: "btn btn-primary" %>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th style="width = 80%">Year</th>
        <th>Opciones</th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.year %></td>
          <td>
              <%= link_to course, class: "btn btn-info btn-sm", :title => "ver", :data => { :toggle => "tooltip" } do %>
                <% fa_icon "book" %>
              <% end %>
            <%= link_to edit_course_path(course), class: "btn btn-warning btn-sm", :title => "editar", :data => { :toggle => "tooltip" } do %>
              <% fa_icon "pencil" %>
            <% end %>
            <button data-id="<%= course.id %>" data-toggle="modal" data-target="#delete-confirm" class="btn-delete btn btn-sm btn-danger"><%= fa_icon "trash" %></button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>
</div>
</div>

