<% @home = true %>

<% content_for :modal do %>
  <%= render partial: 'layouts/modal', locals: { del_msg: :delete_course_msg, title: :destroy_course, route_path: courses_path } %>
<% end %>

<% content_for :no_results do %>
  <%= render 'layouts/no_results', title: :no_courses, icon: "graduation-cap", 
  path: new_course_path, text: :new_course   %>
<% end %>

<% content_for :btns do %>
  <%= link_to t(:new_course), new_course_path, class: "btn btn-primary float-right btn-sm" %>
<% end %>

<% content_for :table do %>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th><%= t :year %></th>
        <th><%= t :show %></th>
        <th><%= t :edit %></th>
        <th><%= t :delete %></th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.year %></td>
          <td>
            <%= link_to course_path(course), class: "btn btn-primary btn-sm", :title => (t(:show)) do %>
              <% fa_icon "book" %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_course_path(course), class: "btn btn-warning btn-sm", :title => (t(:edit)) do %>
              <% fa_icon "pencil" %>
            <% end %>
          </td>
          <td>
            <button data-id="<%= course.id %>" data-slice="9" data-toggle="modal" data-target="#delete-confirm" title="<%= t(:delete) %>" class="btn-delete btn btn-sm btn-danger">
              <%= fa_icon "trash" %>
            </button>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= render 'layouts/contentCard', collection: @courses, card_title: t(:course) %>

