<% content_for :form do -%>
  <%= simple_form_for [@examination.course, @examination] do |f| %>
    <div class="form-group">
      <%= f.input :title, required: true, placeholder: t(:title) %>
    </div>
    <div class="form-group">
      <%= f.input :date, as: :string, input_html: { placeholder: t(:examination_date) ,class: "datepicker", readonly: true, value: time_format(f.object.date) } %>
    </div>
    <div class="form-group">
      <%= f.input :min_score, required: true, placeholder: t(:min_score) + ' ' + t(:in_percentage) %>
    </div>
    <div class="form-actions text-right">
      <%= link_to t(:cancel), course_examinations_path(@examination.course), class: "btn btn-secondary" %>
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= render 'layouts/card', title: title, xl: true %>

<script>
  fSDate =  new Date(<%= @examination.course.year %>, 1, 1);
  fEDate = new Date(<%= @examination.course.year + 1 %>, 4, 1);
  lang = "<%= I18n.locale %>";
</script>

