<div class="card card-table">
  <div class="container card-body">
    <h1><%= (t :examinations).capitalize %></h1>
    <hr>
    <div class="card-btns">
      <%= link_to 'New Examination', new_course_examination_path(params[:course_id]), class: "btn btn-primary float-right btn-sm" %>
    </div>
<table class="table table-striped text-center table-responsive table-courses">
  <thead>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Min mark</th>
    <th></th>
    <th></th>
  </tr>

<% @examinations.each do |examination| %>
  <tr>
    <td><%= examination.title %></td>
    <td><%= examination.date.to_s.humanize %></td>
    <td><%= examination.min_mark %></td>
    <td><%= link_to 'Edit', edit_course_examination_path(examination.course, examination) %></td>
    <td><%= link_to 'Destroy', [examination.course, examination], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
      <div class="float-right">
      </div>
      <br>
    </div>
  </div>  


